[33mcommit 09172765f219eb88b965bafca6a7ffbff56e372d[m
Author: ARtiZen-bzh <contact@artizen.bzh>
Date:   Sun Aug 30 11:08:14 2026 +0200

    Refactor CSS styles for layout and typography
    
    Updated styles for body, headings, and other elements.

[33mcommit 61711807b55a906431d2d033023ac8ccb81ec0b7[m
Author: ARtiZen-bzh <contact@artizen.bzh>
Date:   Wed Aug 26 19:47:03 2026 +0200

    Add files via upload

[33mcommit f371a05b4a93976e5ed65837e67af2999a916a56[m
Author: ARtiZen-bzh <contact@artizen.bzh>
Date:   Wed Aug 26 14:49:21 2026 +0200

    Create style.css
    
    script.js
